.wrapper{
	padding-left: 18px;
	overflow:hidden;
	padding-right: 18px;
	max-width:1236px;
	margin-left:auto;
	margin-right:auto;

	&--medium{
		max-width:976px;
	}

	.wrapper{
		padding-left:0;
		padding-right:0;
	}

	&--b-margin{
		@mixin atSmall{
			margin-bottom: 3.875rem;
		}
		margin-bottom: 1rem;
	}
}